.projectArticles {
    /* background-color: #4e4a45; */
    background-color: #101727;
    /* width: 100%; */
    /* height: 600px; */
    margin-bottom: 2em;
    border-radius: 5px;
    border: 1px solid #fca311;
    box-shadow: 0 4px 10px black;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

.projectArticles section {
    margin: 1.5em;
    flex-basis: 300px;
    flex-grow: 1;
    text-align: center;
    align-self: flex-start;
}

.projectArticles h2 {
    border-bottom: 0.5px solid #e5e5e545;
}

.projectArticles-div {
    color: #fffcf2;
    padding: 1rem 0;
    text-align: left;
    letter-spacing: 1px;
    line-height: 25px;
}

.projectArticles-div p,
.projectArticles-div ul {
    margin-bottom: 1em;
}

.projectArticles-div li {
    margin-left: 3em;
    list-style: disc;
}

.projectArticles .gallerySection {
    align-self: center;
    padding: 2rem;
}

.project-image {
    display: block;
}

.image-list {
    display: flex;
    overflow: hidden;
}

.project-image iframe,
.project-image img,
.image-list img {
    width: 100%;
    border-radius: 5px;
}

.image-list li {
    margin: 1rem 0.5rem 1rem 0;
    flex-basis: 100%;
}

.image-list li:nth-child(3) {
    margin-right: 0;
}

.image-list img {
    object-fit: cover;
    height: 150px;
    transition: opacity 0.3s ease;
    cursor: pointer;
}

.image-list img:hover {
    opacity: 0.5;
}

@media(max-width: 1200px) {
    .projectArticles {
        flex-direction: column;
    }
}