.resume {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid#fca311;
    padding: 2em 0;
}

/* .resume h3 {
    font-style: normal;
    text-align: center;
    font-size: 25px;
    margin-top: 2rem;
}

.resume h4 {
    margin-top: 2rem;
} */

.resume li {
    margin-left: 25px;
    color: #fffcf2;
    list-style: disc;
    font-size: 16px;
    font-style: normal;
    line-height: 25px;
}

.resume div {
    align-self: self-start;
    margin-bottom: 2em;
}

.resume p {
    color: #fffcf2;
    letter-spacing: 1px;
    line-height: 25px;
}

#downloadp {
    margin-bottom: 3em;
}

.bold {
    font-weight: bold;
}

.thin {
    font-weight: 200;
}

@media (max-width:800px) {
    .resume h3 {
        font-size: 22px;
    }

    .resume li {
        font-size: 14px;
    }
}

@media (max-width:540px) {
    .resume h3 {
        font-size: 20px;
    }
}